-- ====================================================
-- VERIFICAÇÃO E CRIAÇÃO DAS TABELAS
-- Sistema ExtFire
-- ====================================================

-- Verificar as tabelas existentes no schema public
SELECT * FROM pg_catalog.pg_tables WHERE schemaname = 'public';

-- ====================================================
-- PARA CRIAR AS TABELAS, USE UM DOS SEGUINTES ARQUIVOS:
-- ====================================================
-- 1. database_setup_complete.sql - Versão completa com comentários e instruções
-- 2. database_setup_rapido.sql - Versão compacta e rápida
-- 
-- Instruções detalhadas estão em: INSTRUCOES_RESTAURACAO_BANCO.md
-- ====================================================
